.TableContainer{
    display: flex;
    justify-content: center;
}

table{
    border: 1px solid #DDDDDD;
    margin-inline: 50px;
    width:100%;
    align-self: start;
}

.mat-row{
    cursor: pointer;
}
.mat-row:hover{
    background-color: rgb(197, 233, 255);
}
